@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aquí puedes agregar estilos globales personalizados si los necesitas */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

s body {
  color: rgb(var(--foreground-rgb));
  background: white;
}